.cuerpo{
    

    .cuerpo__titulo{

        color: $titulo_1;
        font-size: $tiulo_1tamaño;
        font-weight: map-get($gruesor,"grueso");

    }

     &__1parrafo{

          color: green;
          font-size: 16px;
          font-weight: map-get($gruesor,"normal");
          

          &:hover{
            background-color: green;
          }

     }

  

}

.cuerpo_2parrafo{
    @include titulos($titulo_1,$tiulo_1tamaño,map-get($gruesor,"normal"));
    
    
    }

    .cuerpo_3parrafo{
        color: green;
    }
    