@mixin titulos($color,$tamaño,$grosor,$añadir:true) {
    @if $añadir {
        color: $color;
        font-size: $tamaño;
        font-weight: $grosor;
    }
   
      @else {
        color: gray;
        font-size: 30px;
        font-weight: 900;

      }

}

